h1{
    color: blanchedalmond;
    background-color:rgba(91, 145, 164,0.8);

}
#target{
    background-color: rgba(91, 145, 164,1);
}
body{
    background-image: url("starc.webp");
    background-repeat: no-repeat;
    height: 100vh;
    
    background-position: center;

    background-size: cover;
    background-attachment: scroll;
}